[Unit]
Description=Airflow webserver daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Environment="AIRFLOW_HOME=/home/maaya_lee/airflow"
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/airflow scheduler --pid ${AIRFLOW_HOME}/airflow-scheduler.pid
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
