<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dd-importers-load-googlefitness/src/main/java/com/maayalee/dd/importers/googlefitness/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.maayalee.dd.importers.googlefitness.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-begin_time=2019-05-20T00:00:00.00+09:00&#13;&#10;-end_time=2019-05-20T23:59:59.99+09:00&#13;&#10;-output_directory=gs://datadriver-datalake/data/log/googlefitness&#13;&#10;-output_filenameprefix=20190520+9:00-&#13;&#10;-shard_size=3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dd-importers-load-googlefitness"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
